<!--This html file extends from base.html-->
<!--and is intended to add new posts to the website-->
{% extends "base.html" %}
<!--bolck title and flash messages-->
{% block title %}
  <title>Add New</title>
  {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
      </div>
  {% endfor %}
{% endblock %}

<!--bolck navigation area-->
{% block nav %}
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>HerzenHerzen<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Main
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myRecords">My Records</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/addNew">Add New</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact us</a>
              </li>
              <!--Check whether user is login, if it is the case, customized the navbar-->
              {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log out {{ current_user.username }}</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/sign">Log in</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Add New</h4>
                <h2>Add Your Record Now!</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Page Content -->
    <!-- Main Content Starts Here -->
    <section class="contact-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="down-contact">
              <div class="row">
                <div class="col-lg-8">
                  <div class="sidebar-item contact-form">
                    <div class="sidebar-heading">
                      <h2>Add new record</h2>
                    </div>
                    <div class="content">
                      <form id="addNew" action="/addNew" enctype='multipart/form-data' method="post" name="addNew">
                        <div class="row">
                          <div class="col-md-4 col-sm-12">
                            <fieldset>
                              <input name="subject" type="text" placeholder="Select subject" list="selectlist">
                                <datalist id="selectlist">
                                    <option>MOVIES</option>
                                    <option>MUSIC</option>
                                    <option>DRAMA</option>
                                    <option>EXHIBITION</option>
                                    <option>BOOKS</option>
                                </datalist>
                            </fieldset>
                          </div>
                          <div class="col-md-2 col-sm-12 label">
                            <label>Upload img</label>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <input class="label" type="file" size="30" name="photo" id="photo"/>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <fieldset>
                              <input name="title" type="text" id="title" placeholder="Post title" required="">
                            </fieldset>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <fieldset>
                              <textarea name="description" rows="6" id="description" placeholder="Your record" required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-button">Create</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="sidebar">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="sidebar-item search">
                          <form id="search_form" method="post" action="/search">
                            <input type="text" name="search" id="search" class="searchText" placeholder="type to search..." autocomplete="on">
                          </form>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="sidebar-item categories">
                          <div class="sidebar-heading">
                            <h2>Categories</h2>
                          </div>
                          <div class="content">
                            <ul>
                              <li><a href="/search/MUSIC">- MUSIC</a></li>
                              <li><a href="/search/MOVIES">- MOVIES</a></li>
                              <li><a href="/search/EXHIBITION">- EXHIBITION</a></li>
                              <li><a href="/search/DRAMA">- DRAMA</a></li>
                              <li><a href="/search/BOOKS">- BOOKS</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>My collections</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li>
                          <a href="/myLike" id="myLike" name="myLike">
                            <i class="fas fa-heart"></i>
                          </a>
                        </li>
                        <li>
                          <a href="/mysc" id="mysc" name="mysc">
                            <i class="fas fa-star"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}