<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Herzen personal record">
      <meta name="author" content="Yitian Hu">
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/fontawesome.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/owl.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/templatemo-stand-blog.css') }}">
      {% block title %}{% endblock %}
  </head>
    <body>

    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <header class="">
      {% block nav %}{% endblock %}
    </header>

    </div>
      {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Behance</a></li>
              <li><a href="#">Linkedin</a></li>
              <li><a href="#">Dribbble</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>December 2020

                 | Hu Yitian

                 | China Sichuan Chengdu </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/owl.js"></script>
    <script src="../static/js/slick.js"></script>
    <script src="../static/js/isotope.js"></script>
    <script src="../static/js/accordions.js"></script>
    <script src="../static/js/main.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>