{% extends "base.html" %}
{% block title %}
<title>Contact me</title>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
{% endblock %}

{% block nav %}
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>HerzenHerzen<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Main
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myRecords">My Records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addNew">Add New</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/contact">Contact us</a>
              </li>
              {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log out {{ current_user.username }}</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/sign">Log in</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
{% endblock %}

{% block content %}
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Contact Me</h4>
                <h2>Let’s Stay in Touch!</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="contact-us">
      <div class="container">
        <div class="row">
        
          <div class="col-lg-12">
            <div class="down-contact">
              <div class="row">
                <div class="col-lg-8">
                  <div class="sidebar-item contact-form">
                    <div class="sidebar-heading">
                      <h2>Send me a message</h2>
                    </div>
                    <div class="content">
                      <form id="contact" action="/contact" method="post" name="contact">
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="Your name" value="{{current_user.username}}">
                            </fieldset>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              <input name="email" type="text" id="email" placeholder="Your email" value="{{current_user.email}}">
                            </fieldset>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <fieldset>
                              <input name="subject" type="text" id="subject" placeholder="Subject">
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <textarea name="message" rows="6" id="message" placeholder="Your Message" required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-button">Send Message</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="sidebar-item contact-information">
                    <div class="sidebar-heading">
                      <h2>contact information</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li>
                          <h5>(+86)-13854385462</h5>
                          <span>PHONE NUMBER</span>
                        </li>
                        <li>
                          <h5>sc18y5h@leeds.ac.uk</h5>
                          <span>EMAIL ADDRESS</span>
                        </li>
                        <li>
                          <h5>Teaching Building 9,
                          	<br>SWJTU-Leeds Joint School</h5>
                          <span>STREET ADDRESS</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-12">
              <div id="baiduMap"></div>
          </div>
          
        </div>
      </div>
    </section>
{% endblock %}

{% block script %}
  <script src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=Nw45INtNDf18onUbMMlsC2WGGfw7OFF4"></script>
  <script src="../static/js/geo.js"></script>
{% endblock %}