{% extends "base.html" %}
{% block title %}
<title>HerzenHerzen</title>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
{% endblock %}

{% block nav %}
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>HerzenHerzen<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Main
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myRecords">My Records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addNew">Add New</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact us</a>
              </li>
              {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log out {{ current_user.username }}</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/sign">Log in</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
{% endblock %}

{% block content %}
    <div class="main-banner header-text">
      <div class="container-fluid">
        <div class="owl-banner owl-carousel">
          <div class="item">
            <img src="../static/images/hollywood.jpg" alt="Hollywood movie">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Movies</span>
                </div>
                <a href="/search/MOVIES"><h4>Movie Collections</h4></a>
                <ul class="post-info">
                  <li><a href="/search/MOVIES">{{movies}} posts</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="../static/images/chichi.jpg" alt="chicago theater">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Drama</span>
                </div>
                <a href="/search/DRAMA"><h4>Theater and Drama</h4></a>
                <ul class="post-info">
                  <li><a href="/search/DRAMA">{{drama}} posts</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="../static/images/music.jpg" alt="books">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Books</span>
                </div>
                <a href="/search/BOOKS"><h4>Literature</h4></a>
                <ul class="post-info">
                  <li><a href="/search/BOOKS">{{books}} posts</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="../static/images/prado.jpg" alt="prado museum">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Exhibition</span>
                </div>
                <a href="/search/EXHIBITION"><h4>City & Exhibition</h4></a>
                <ul class="post-info">
                  <li><a href="/search/EXHIBITION">{{exhibition}} posts</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="../static/images/book.jpg" alt="music cds">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Music</span>
                </div>
                <a href="/search/MUSIC"><h4>Music Collection</h4></a>
                <ul class="post-info">
                  <li><a href="/search/MUSIC">{{music}} posts</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% for i in range(0,posts|length) %}
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="../static/images/{{posts[i].imgFile}}" alt="{{posts[i].title}}">
                    </div>
                    <div class="down-content">
                      <span>{{posts[i].subject}}</span>
                      <a href="/postDetails/{{posts[i].id}}"><h4>{{posts[i].title}}</h4></a>
                      <ul class="post-info">
                        <li><a id="temp">{{posts[i].id}}</a></li>
                        <li><a >{{posts[i].date.date()}}</a></li>
                        <li><a>{{posts[i].username}}</a></li>
                      </ul>
                      <p id="c">{{posts[i].description}}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li>
                                <a >
                                  {{temp[i].num}}
                                  <i class="fas fa-heart"></i>
                                </a>
                              </li>
                              <li></li>
                              <li>
                                <a >
                                  {{temp[i].numb}}
                                  <i class="fas fa-star"></i>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                  <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" method="post" action="/search">
                      <input type="text" name="search" id="search" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                  <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="/search/MUSIC">- MUSIC</a></li>
                        <li><a href="/search/MOVIES">- MOVIES</a></li>
                        <li><a href="/search/EXHIBITION">- EXHIBITION</a></li>
                        <li><a href="/search/DRAMA">- DRAMA</a></li>
                        <li><a href="/search/BOOKS">- BOOKS</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                  <div class="col-lg-12">
                    <div class="sidebar-item tags">
                      <div class="sidebar-heading">
                        <h2>My collections</h2>
                      </div>
                      <div class="content">
                        <ul>
                          <li>
                            <a href="/myLike" id="myLike" name="myLike">
                              <i class="fas fa-heart"></i>
                            </a>
                          </li>
                          <li>
                            <a href="/mysc" id="mysc" name="mysc">
                              <i class="fas fa-star"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}