{% extends "base.html" %}
{% block title %}
<title>Search Results</title>
{% endblock %}

{% block nav %}
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>HerzenHerzen<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Main
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myRecords">My Records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addNew">Add New</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact us</a>
              </li>
              {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log out {{ current_user.username }}</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/sign">Log in</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
{% endblock %}

{% block content %}
    {% if posts|length < 1 %}
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>{{subject}}</h4>
                <h2>There are no matching posts!</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    {% else %}
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Search</h4>
                <h2>{{subject}} here...</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">

                {% for post in posts %}
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="../static/images/{{post.title}}.jpg" alt="{{post.title}}">
                    </div>
                    <div class="down-content">
                      <span>{{post.subject}}</span>
                      <a href="/postDetails/{{post.id}}"><h4>{{post.title}}</h4></a>
                      <ul class="post-info">
                        <li>{{post.date}}</li>
                      </ul>
                      <p>{{post.description}}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="#">Queen</a>,</li>
                              <li><a href="#">Documentary</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <div class="col-lg-12" id="all">
                  <div class="main-button">
                    <a href="#all">View All</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" method="post" action="/search">
                      <input type="text" name="search" id="search" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="/search/MUSIC">- MUSIC</a></li>
                        <li><a href="/search/MOVIES">- MOVIES</a></li>
                        <li><a href="/search/EXHIBITION">- EXHIBITION</a></li>
                        <li><a href="/search/DRAMA">- DRAMA</a></li>
                        <li><a href="/search/BOOKS">- BOOKS</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tag Clouds</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Nobel Prize</a></li>
                        <li><a href="#">Literature</a></li>
                        <li><a href="#">Broadway</a></li>
                        <li><a href="#">Play</a></li>
                        <li><a href="#">Queen</a></li>
                        <li><a href="#">Documentary</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
{% endblock %}